* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --green: rgb(0, 190, 50);

  --background: rgb(230, 230, 230);

  --font-color: rgb(20, 20, 20);
}


.buttons {
  align-items: center;
  background-color: var(--font-color);
  border-radius: 8px;
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin: 50px;
  width: 350px;
}

.btn {
  background-color: var(--green);
  border: 1px solid black;
  border-radius: 8px;
  font-size: 25px;
  height: 90px;
  padding: 15px;
  text-shadow: 0 0 5px white;
  width: 120px;
}

.btn:hover {
  background-color: white;
}

.feedback-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
  padding: 20px;
}

.feedback-container {
  min-height: 100vh;
}

.score-container, .assertions-container {
  background-color: var(--font-color);
  border-radius: 8px;
  color: var(--background);
  display: flex;
  margin: 20px;
  padding: 15px;
}
