* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --green: rgb(0, 190, 50);

  --background: rgb(230, 230, 230);

  --font-color: rgb(20, 20, 20);
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: Arial , Helvetica , sans-serif;
}

.ranking-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.list-container {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 300px;
}

.list-item:not( .gravatar ) {
  border-bottom: 1px solid black;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  padding: 3px;
}

.score {
  background-color: var(--background);
  border: 1px solid black;
  font-size: 20px;
}

.gravatar {
  border-radius: 30%;
}

.btn-go-home {
  background-color: var(--green);
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  height: 90px;
  font-size: 25px;
  width: 120px;
  text-shadow: 0 0 5px white;
}

.btn-go-home:hover {
  background-color: white;
}

.ranking-title {
  background-color: var(--green);
  align-items: center;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 5px white;
  font-size: 25px;
  height: 80px;
  width: 100%;
  padding: 15px;
}

.ranking-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: end;
  padding: 15px;
  height: 100%;
  width: 100%;
}
